

/*[data-status="status0"]{
    background-color: $brand-success; // success
}

[data-status="status1"]{
    background-color: $brand-danger; // danger
}
[data-status="status2"]{
    background-color: $brand-warning; // warning
}
[data-status="status3"]{
    background-color: $brand-info; // warning
}*/

.qaItem{
    border-bottom: 1px solid $gray-light;
    padding-bottom: 10px;
}