@import "base/common";
@import "../Lib_Stylesheets/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker";
@import "../Lib_Stylesheets/plugins/bootstrap-editable/bootstrap-editable";
@import 'base/_base';
@import 'components/_timeline';
@import 'components/_header';
@import "base/ppr";

/*Multi steps starts*/
.cd-multi-steps.nav > li > a {
    padding: 0;
    display: inline-block;
}
.cd-multi-steps > li > a:hover, .cd-multi-steps > li > a:focus {
    background-color: transparent;
    outline: none;
}

.cd-breadcrumb, .cd-multi-steps {
    width: 90%;
    padding: 0.5em 1em;
    margin: 1em auto;
    background-color: #edeff0;
    border-radius: .25em;
}

.cd-breadcrumb:after, .cd-multi-steps:after {
    content: "";
    display: table;
    clear: both;
}

.cd-breadcrumb li, .cd-multi-steps li {
    display: inline-block;
    float: left;
    margin: 0.5em 0;
}

.cd-breadcrumb li::after, .cd-multi-steps li::after {
    /* this is the separator between items */
    display: inline-block;
    content: '\00bb';
    margin: 0 .6em;
    color: #959fa5;
}

.cd-breadcrumb li:last-of-type::after, .cd-multi-steps li:last-of-type::after {
    /* hide separator after the last item */
    display: none;
}

.cd-breadcrumb li > a, .cd-multi-steps li > a{
    /* single step */
    display: inline-block;
    color: #2c3f4c;
}

.cd-breadcrumb li.current > a, .cd-multi-steps li.current > a{
    /* selected step */
    color: #96c03d;
}

.no-touch .cd-breadcrumb a:hover, .no-touch .cd-multi-steps a:hover {
    /* steps already visited */
    color: #96c03d;
}

.cd-breadcrumb.custom-separator li::after, .cd-multi-steps.custom-separator li::after {
    /* replace the default arrow separator with a custom icon */
    content: '';
    height: 16px;
    width: 16px;
    background: url(../img/cd-custom-separator.svg) no-repeat center center;
    vertical-align: middle;
}

.cd-breadcrumb.custom-icons li > a::before, .cd-multi-steps.custom-icons li > a::before {
    /* add a custom icon before each item */
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: .4em;
    margin-top: -2px;
    background: url(../img/cd-custom-icons-01.svg) no-repeat 0 0;
    vertical-align: middle;
}

.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(2) > *::before, .cd-multi-steps.custom-icons li:not(.current):nth-of-type(2) > *::before {
    /* change custom icon using image sprites */
    background-position: -20px 0;
}

.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(3) > *::before, .cd-multi-steps.custom-icons li:not(.current):nth-of-type(3) > *::before {
    background-position: -40px 0;
}

.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(4) > *::before, .cd-multi-steps.custom-icons li:not(.current):nth-of-type(4) > *::before {
    background-position: -60px 0;
}

.cd-breadcrumb.custom-icons li.current:first-of-type > *::before, .cd-multi-steps.custom-icons li.current:first-of-type > *::before {
    /* change custom icon for the current item */
    background-position: 0 -20px;
}

.cd-breadcrumb.custom-icons li.current:nth-of-type(2) > *::before, .cd-multi-steps.custom-icons li.current:nth-of-type(2) > *::before {
    background-position: -20px -20px;
}

.cd-breadcrumb.custom-icons li.current:nth-of-type(3) > *::before, .cd-multi-steps.custom-icons li.current:nth-of-type(3) > *::before {
    background-position: -40px -20px;
}

.cd-breadcrumb.custom-icons li.current:nth-of-type(4) > *::before, .cd-multi-steps.custom-icons li.current:nth-of-type(4) > *::before {
    background-position: -60px -20px;
}
.cd-multi-steps.text-bottom li.visited > a::before {
    background-color: #56c16f;
}

.cd-multi-steps.text-bottom li > a::before {
    /* this is the spot indicator */
    content: '';
    position: absolute;
    z-index: 1;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #00a6ac;
    top: 0;
}
@media only screen and (min-width: 768px) {
    .cd-breadcrumb, .cd-multi-steps {
        padding: 0 1.2em;
    }

    .cd-breadcrumb li, .cd-multi-steps li {
        margin: 1.2em 0;
    }

    .cd-breadcrumb li::after, .cd-multi-steps li::after {
        margin: 0 1em;
    }
    .cd-multi-steps.text-top li:first-child, .cd-multi-steps.text-top li:nth-child(1), .cd-multi-steps.text-top li:nth-child(2), .cd-multi-steps.text-top li:nth-child(3) {
        width: 11%;
    }

    .cd-multi-steps {
        /* reset style */
        background-color: transparent;
        padding: 0;
        text-align: center;

        li {
        position: relative;
        float: none;
        margin: 0.4em 0px 0.4em 0;
        }

        li:last-of-type {
        margin-right: 0;
        }

        li::after {
        /* this is the line connecting 2 adjacent items */
        position: absolute;
        content: '';
        height: 4px;
        background: #edeff0;
        /* reset style */
        margin: 0;
        }
    }

    .cd-multi-steps li > a, .cd-multi-steps li.current > a {
        position: relative;
        color: #2c3f4c;
    }

    .cd-multi-steps.custom-separator li::after {
        /* reset style */
        height: 4px;
        background: #edeff0;
    }

    .cd-multi-steps.text-center li::after {
        width: 100%;
        top: 50%;
        left: 100%;
        -webkit-transform: translateY(-50%) translateX(-1px);
        -moz-transform: translateY(-50%) translateX(-1px);
        -ms-transform: translateY(-50%) translateX(-1px);
        -o-transform: translateY(-50%) translateX(-1px);
        transform: translateY(-50%) translateX(-1px);
    }

    .cd-multi-steps.text-center li > * {
        z-index: 1;
        padding: .6em 1em;
        border-radius: .25em;
        background-color: #edeff0;
    }

    .no-touch .cd-multi-steps.text-center a:hover {
        background-color: #2c3f4c;
    }

    .cd-multi-steps.text-center li.current > *, .cd-multi-steps.text-center li.visited > * {
        color: #ffffff;
        background-color: #96c03d;
    }

    .cd-multi-steps.text-center.custom-icons li.visited a::before {
        /* change the custom icon for the visited item - check icon */
        background-position: 0 -60px;
    }

    .cd-multi-steps.text-top li, .cd-multi-steps.text-bottom li {
        width: 9%;
        text-align: center;
    }

    .cd-multi-steps.text-top li::after, .cd-multi-steps.text-bottom li::after {
        /* this is the line connecting 2 adjacent items */
        position: absolute;
        left: 50%;
        /* 40px is the <li> right margin value */
        width: 100%;
    }

    .cd-multi-steps.text-top li > a::before {
        /* this is the spot indicator */
        content: '';
        position: absolute;
        z-index: 1;
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background-color: #00a6ac;
         bottom: 0;
    }

    .cd-multi-steps.text-top li.visited > a::before,
    .cd-multi-steps.text-top li.current > a::before, .cd-multi-steps.text-bottom li.visited > a::before,
    .cd-multi-steps.text-bottom li.current > a::before {
        background-color: #56c16f;
    }

    .no-touch .cd-multi-steps.text-top a:hover, .no-touch .cd-multi-steps.text-bottom a:hover {
        color: #96c03d;
    }

    .no-touch .cd-multi-steps.text-top a:hover::before, .no-touch .cd-multi-steps.text-bottom a:hover::before {
        box-shadow: 0 0 0 3px rgba(150, 192, 61, 0.3);
    }

    .cd-multi-steps.text-top li::after {
        /* this is the line connecting 2 adjacent items */
        bottom: 4px;
    }

    .cd-multi-steps.text-top li > a {
        padding-bottom: 20px;
    }

    .cd-multi-steps.text-bottom li::after {
        /* this is the line connecting 2 adjacent items */
        top: 3px;
    }

    .cd-multi-steps.text-bottom li > a {
        padding-top: 20px;
    }

    .cd-multi-steps.text-bottom li > a::before {
        /* this is the spot indicator */
        top: 0;
    }
     .cd-multi-steps.text-top.count li > a::before,
    .cd-multi-steps.text-bottom.count li > a::before {
        /* this is the spot indicator */
        /* content: counter(steps);*/
        height: 30px;
        width: 30px;
        line-height: 29px;
        font-size: 2.4rem;
        color: #ffffff;
    }


    .cd-multi-steps.text-top.count li.active > a::before {
        border: 4px solid #555555;
        line-height: 22px;
    }

    .cd-multi-steps.text-top.count li.status1 > a::before {
        background-color: $brand-danger-light;
    }

    .cd-multi-steps.text-top.count li.status2 > a::before {
        background-color: $brand-success-light;
    }

    .cd-multi-steps.text-top.count li.status3 > a::before {
        background-color: $brand-warning-light;
    }

    .cd-multi-steps.text-top.count li.current > a::before, .cd-multi-steps.text-top.count li.visited > a::before {
        content: "\2714";
        font-size: 17px;
    }

    .cd-multi-steps.text-top.count li:not(.current) em::before,
    .cd-multi-steps.text-bottom.count li:not(.current) em::before {
        /* steps not visited yet - counter color */
        color: #2c3f4c;
    }

    .cd-multi-steps.text-top.count li::after {
        bottom: 13px;
    }

    .cd-multi-steps.text-top.count li > a {
        padding-bottom: 35px;
    }

    .cd-multi-steps.text-bottom.count li::after {
        top: 22px;
    }

    .cd-multi-steps.text-bottom.count li > a {
        padding-top: 55px;
    }

    .error-tab{
       span{
             background: url(../images/alert.png) no-repeat;
            position: absolute;
            top: 15px;
            left: 22px;
            color: red;
            z-index: 9999;
            display: block;
            width: 24px;
            height: 24px;
       }
        
    }
}
@media (max-width:768px) {

    .probability-breadcrumb.text-bottom li:first-child {
        width: 32%;
    }

    .probability-breadcrumb.text-bottom li {
        width: 27%;
    }

    .impact-breadcrumb.text-bottom li {
        width: 27%;
    }

    .cd-multi-steps li.active > a {
        color: #96c03d;
    }

    .cd-multi-steps.text-bottom li {
        position: relative;
        text-align: center;
    }

    #newRisk .cd-multi-steps.text-bottom li::after, #newIssue .cd-multi-steps.text-bottom li::after {
        display: none;
    }

    .cd-multi-steps.text-bottom li > a {
        padding-top: 20px;
    }
}

/*Multi steps ends*/

.midSection {
    border: 1px solid #c4c4c4;
    background: white url(../images/stripe-background.png) repeat;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
.carouselContainer {
    margin: 0 auto;
    float: none;
}
.tab-content {
    padding: 20px;
    background-color: $body-bg;
}
.buttonContainer {
    margin: 21px 0 21px 0;
    overflow: auto;
}

.card {
    margin-bottom: 21px;
}
.btn-group {
    margin-top: 12px;
}
.arrow-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #f1f1f1;
}
.projectDates > div {
    padding-left: 13px;
    padding-right: 10px;
}

.indicator {
    padding: 0 8%;

    span {
    position: relative;
    left: 2%;
    bottom: 19px;
    }
}

.border-container {
    margin-left: 3px;
    margin-right: 3px;
    border: 1px solid #cccccc;
}
.radioList 
{
    label{
    text-align: center;
    padding-left: 0;
    margin-left: 10px;
    font-size: 12px;
    }
    .radio-inline input[type="radio"]{
    margin: auto;
    position: static;
    }
}

#newRisk .cd-multi-steps li::after, #newIssue .cd-multi-steps li::after {
    background: none;
}
.has-error 
{
    .form-control,.form-control:focus {
    border-right: none;
    }
    .input-group-addon {
    border-left: none;
    }
}

#TimeLineControl {
    /*background-image: url('../Images/bgGrey.PNG');*/
    background-repeat: no-repeat;
    background-position: 0 50%;
    height: 200px;
    position: relative;
    margin-top: 20px;
}
input[type=search]::-ms-clear {
    display: none;
}

