@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?yklj7j');
	src:url('../fonts/icomoon.eot?yklj7j#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?yklj7j') format('truetype'),
		url('../fonts/icomoon.woff?yklj7j') format('woff'),
		url('../fonts/icomoon.svg?yklj7j#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-add137:before {
	content: "\e900";
}
.icon-arrow592:before {
	content: "\e901";
}
.icon-back46:before {
	content: "\e902";
}
.icon-checkmark15:before {
	content: "\e903";
}
.icon-cross83:before {
	content: "\e904";
}
.icon-down56:before {
	content: "\e905";
}
.icon-down58:before {
	content: "\e906";
}
.icon-down59:before {
	content: "\e907";
}
.icon-download142:before {
	content: "\e908";
}
.icon-download147:before {
	content: "\e909";
}
.icon-expand25:before {
	content: "\e90a";
}
.icon-left146:before {
	content: "\e90b";
}
.icon-left153:before {
	content: "\e90c";
}
.icon-login9:before {
	content: "\e90d";
}
.icon-login12:before {
	content: "\e90e";
}
.icon-menu41:before {
	content: "\e90f";
}
.icon-minus80:before {
	content: "\e910";
}
.icon-note35:before {
	content: "\e911";
}
.icon-right142:before {
	content: "\e912";
}
.icon-right144:before {
	content: "\e913";
}
.icon-right156:before {
	content: "\e914";
}
.icon-square156:before {
	content: "\e915";
}
.icon-two323:before {
	content: "\e916";
}
.icon-up100:before {
	content: "\e917";
}
.icon-up102:before {
	content: "\e918";
}
.icon-up103:before {
	content: "\e919";
}
.icon-up111:before {
	content: "\e91a";
}
.icon-up114:before {
	content: "\e91b";
}
.icon-upper8:before {
	content: "\e91c";
}
.icon-window50:before {
	content: "\e91d";
}
