.nav-tabs
{
    border-bottom:0;
}
.nav-tabs > li > a
{
    background-color:#3e3e3e;
    color:#c6c6c6;
    margin:0;
    border:0;
}
.nav-tabs > li > a:hover,.nav-tabs > li > a:focus
{
    background-color:#3e3e3e;
}
.nav > li.disabled > a:hover, .nav > li.disabled > a:focus
{
    background-color:#3e3e3e;
}
.nav-tabs > li.active a
{
    color:#515151;
    background-color:$brand-virtuoso-bgcolor;
    border:0;
}
.nav-tabs > li.active a:hover,.nav-tabs > li.active a:focus
{
    background-color:$brand-virtuoso-bgcolor;
    border:0;
    color:#515151;
}
.nav-tabs .notify {
  font-size: 15px;
  position: absolute;
  right: -4px;
  top: -7px;
}